

/* product_page.html css*/

.h3 {
  font-family:serif ;
  font-weight: bold;
}


.productcontainer .box{
display: flex;
}

.pname {
    float: left;
    margin-left: 0%;
}

.productimage {
  position: relative;
  flex: 1;
  width: 70%;
  margin-right: 20px;
}

.productimage img {
  float: left;
  width: 60%;
  margin-top: 10px;
  margin-right: 50px;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  fill: #4884a7;
  cursor: none;
  /*Set the size of the magnifier glass:*/
  width: 1200px;
  height: 2100px;
}

.productinfo{
  flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: left;
}
/* size select style */
.size {
    margin: 30px;
    display: flex;
    flex-direction: row;
  }
  
  .size input[type="radio"] {
    opacity: 0;
    width: 0;
  }
  
  .size label {
    cursor: pointer;
      display:inline-block;
      background-color: #CBCBCB;
      padding: 10px 20px;
      font-family: 'Times New Roman', Times, serif;
      border: 2px solid #707571;
  }
  
  .size label:hover {
    background-color: #B3DAF1;
    border-color:#4884a7 ;
  }
  
 
  
  .size input[type="radio"]:checked + label {
      background-color: #B3DAF1;
      border-color: #618ea7;
  }


/* color select*/
  .colors img {
    
      width: 100px;
      height: 150px;
      object-fit: contain;
    
  }
  .colors {
    margin: 30px;
    display: flex;
    flex-direction: row;
  }
  
  .colors input[type="radio"] {
    opacity: 0;
    width: 0;
  }
  
  .colors label {
    cursor: pointer;
      display:inline-block;
      background-color: #CBCBCB;
      border: 2px solid #707571;
  }
  
  .colors label:hover {
    background-color: #B3DAF1;
    border-color:#4884a7 ;
  }
  
 
  
  .colors input[type="radio"]:checked + label {
      background-color: #B3DAF1;
      border-color: #618ea7;
  }
















  .cart  button {
    margin-top: 10px;
    background-color: #42687C;
    display:block;
    height: 100%;
    width: 100%;
    cursor: pointer;
    
  }

  .cart h1{
    text-align: right;
  }











/* register.html and login.html style*/

 .bgimg {
    background-image: url('../images/lgrbackground.jpg');
    background-size: cover;
}

.lgrcontainer img {
  height: inherit;
  width: inherit;
}

.lgrcontainer {
  width: 50%;
 margin: auto;
  padding: 70px 0;
  background-color: white;
  opacity: 70%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  display: flex;
justify-content: center;
align-items: center;
}


.lgrcontainer h1 {
  text-align: center;
  font: 1em sans-serif;

}

.card {
  display: inline-block;
  margin: auto;
  max-width: 21%;
  margin-top: 10px;
  padding: 20px;
  background-color: white;

}





.card button {
  outline: 0;
  border: none;
  background-color: #618ea7;
  width: 100%;
  font-size: 20px;
  cursor: pointer;
}

.card viewproduct :hover {
  color: aqua;
}

.card a :hover{
  color: #84A5B8;
}

.card img {
  width: 100%;
  object-fit: fill;
}


/* css for links*/

a.link:link
{
   color: #42687C;
   text-decoration: none;
}
a.link:visited
{
   color: #42687C;
   text-decoration: none;
}
a.link:hover
{
   color: #B3DAF1;
   text-decoration: none;
}
a.link:active
{
   color: #B3DAF1;
   text-decoration: none;
}

/* sort and filter */
.pagerow {
  display: flex;
  flex: 1;
}
.pagecolumn {
  float: left;
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}


.product {
  margin: auto;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.product img {
  size: 50%;
}

/* Account pages*/

.accountNav ul {
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scrolling if the sidenav has too much content */

}
.accountNav {
  display: flex;
  flex-wrap: wrap;
  }
  
  .accountNav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  .accountNav li a:hover {
    background-color: #618ea7;
    color: white;
  }
  
  accountContainer {
    display: flex;
  }
  
  .accountNav {
    flex: 50%;
  }
  
  .accountInfo {
    flex: 50%;
  }
  

  .orderCard {
    border: #f1f1f1;
    border-style: solid;
    border-radius: 10px;
    display: flex;
}

.orderCardImg,
.orderCardInfo,
.orderCardButtons {
    flex-basis: calc(33.33%);
}

.orderCardImg {
    padding: 10px;
}

.orderCardImg img {
  width: 50%;
}

.orderCardInfo {
  justify-content: left;
}

.orderCardButtons {
  padding-top: 10px;
    display: block;
    justify-content: right;
    align-items: center;
}

.rButton, .submit {
  width: fit-content;
  height: fit-content;
  background-color: #B3DAF1;
  border: none;
  color: white;
  text-align: center;
  border-radius:12px;
  font-size: xx-large;
  

}

.accountTop {
  display: flex;
}

.accountNav {
  flex: 30%;
}

.accountWelcome {
  flex:70%;
  
}
.accountWelcome h1 {
  text-align: left;
}

/*Refund page */

.orderCardRefundOptions {
  padding-top: 2px;
}

.reason {
  background-color: #4884a7;
  position: relative;
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  width: 100%;

}

.reasons {
  color: white;
}

/*Review*/

.rating {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rating:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rating:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}

.rating > input:checked ~ label {
  color: #ffc700;    
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #deb217;  
}

/*review page*/

textarea{
  width: 90%;
  height: 150px;
  padding: 10px;
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;

}
